.epic-gradient {
  background: #ff00d0;
  background: linear-gradient(
    206deg,
    rgba(255, 0, 208, 1) 0%,
    rgba(72, 64, 122, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
}
.pink {
  background-color: rgba(255, 0, 208, 1);
}
.violet {
  background-color: rgba(72, 64, 122, 1);
}
.blue {
  background-color: rgb(43, 23, 145);
}
